#countLabe1 {
    display: block;
    text-align: centre;
    font-size: 10em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#btnContainer{
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5erm;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25
}

